
.content {
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh; 
}

.container {
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
}

.homeText {
    margin-right: 0;
    margin-right: 10%; 
}

.image img {
    max-width: 250px;
    height: auto;
    display: block;
    margin: 0 auto; 
}

.span{
    color:cornflowerblue;
}



@media only screen and (max-width: 600px) {

    .container {
        display: flex;
        flex-direction: column;
        justify-content: center; 
        align-items: center; 
        text-align: center; 
    }

    .homeText {
        margin-bottom: 10px; 
        }

    .image img {
        max-width: 150px; 
    }
}