.container {
    text-align: center;
}

.contact a{
    text-decoration: none;
}

.contact img{
    width: 16px; 
    height: auto;

}

.span{
    color: cornflowerblue;
}

.imgIcon{
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-top: 50px;
}

.imgIcon img{
    width: 30px; 
    height: auto;
}

.imgIcon a:hover {
    transform: translateY(-3px);
  }

  @media screen and (max-width: 600px) {
    .imgIcon {
        flex-direction: column;
        margin-top: 10px; 
    }

    .imgIcon img {
        width: 40px; 
    }
}